html, body {
  height: 100%;
  width: 100%;
}
body {
  color: white;
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}
.mainbackground {    
  content: "";
  background-image: url('../Images/background2.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
  z-index: -1;
}
.headerblock {
  width: 100%;
  float: left;
  padding-top: 36px;
  line-height: 50%;
  text-align: center;
}
.favoriteheader {
  width: 100%;
  float: left;
  line-height: 50%;
  text-align: center;
}
.headerblock p {
  font-size: 120%;
}
.decades{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 36px;
}
.decades img{
  margin-left: 20px;
  margin-right: 20px; 
}
.favoritepics{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 36px;
}
.favoritepics img{
  padding-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
}
iframe#video{
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
