body {
     font-family: 'Montserrat', sans-serif; 
     color: #FFFFFF;
}

h1 {
     text-align: center;
     font-family: 'Montserrat', sans-serif; 
}

a {
     color: inherit;
}

div.t {
     font-size: 150%;
}

.topnav {
     background-color: #000000;
     verflow: hidden;
     opacity: 0.6; 
}

.topnav a {
     text-decoration: none;
     text-align: center;
}

.hoveranimation {
     display: inline-block;
     position: relative;
     color: #0087ca;
}

.hoveranimation:after {
     content: '';
     position: absolute;
     width: 100%;
     transform: scaleX(0);
     height: 2px;
     bottom: 0;
     left: 0;
     background-color: #0087ca;
     transform-origin: bottom right;
     transition: transform 0.25s ease-out;
}

.hoveranimation:hover:after {
     transform: scaleX(1);
     transform-origin: bottom left;
}
